# WSPR-beacon device test report

This section provides information about the device's performance during long distance WSPR message transmission. Data on transmitted and decoded WSPR messages are taken from the [WSPR Rocks!](http://wspr.rocks/)

| PCB version | Firmware version | Transmission frequency | Used antenna | SNR | Frequency drift | Distance to transmitter |
|-------------|------------------|------------------------|--------------|-----|-----------------|-------------------------|
| 1.0         | 1.0              | XX.YYYYYY              | Dipole       | 0   | 0               | 0 km                    |
| 1.0         | 1.0              | XX.YYYYYY              | Dipole       | 0   | 0               | 0 km                    |