# WSPR-beacon device test report

This section contains information about the device's performance in real-world conditions. Data on transmitted and decoded WSPR messages are taken from the [WSPRnet](https://www.wsprnet.org/drupal/wsprnet/activity).

| PCB version | Firmware version | Transmission frequency | Used antenna | Frequency drift | Distance to transmitter |
|-------------|------------------|------------------------|--------------|-----------------|-------------------------|
| 1.0         | 1.0              | XX.YYYYYY              | Dipole       | 0               | 0 km                    |
| 1.0         | 1.0              | XX.YYYYYY              | Dipole       | 0               | 0 km                    |